<mat-spinner *ngIf="isLoading"></mat-spinner>
<div style="display: flex; justify-content: space-between;">
  <mat-card *ngFor="let post of posts" style="flex:content ">
    <img
      [src]="post.imagePath"
      [alt]="post.title"
      width="100%"
      height="200px"
    />
    <h1>{{post.title}}</h1>
    <mat-card-actions>
      <a mat-button [routerLink]="['/details', post.id]"
        >Details</a
      >
      <a mat-button [routerLink]="['/edit', post.id]">Edit</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<mat-paginator
  [length]="totalPosts"
  [pageSize]="postsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  *ngIf="posts.length > 0"
></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">
  No posts added yet!
</p>
