ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, button {
  text-decoration: none;
  color: #fff;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background: #272525;
  border-bottom: 3px solid #00c2c2;
}
