<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="savePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        required
        minlength="3"
        matInput
        name="title"
        [ngModel]="post?.title"
        #title="ngModel"
        placeholder="Post Title"
      />
      <mat-error *ngIf="title.invalid">Please, enter a post title!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        cols="40"
        rows="10"
        name="content"
        [ngModel]="post?.content"
        #content="ngModel"
        required
        placeholder="Post Content"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please, enter a content!</mat-error>
    </mat-form-field>
    <button color="primary" mat-raised-button type="submit">
      Add Post
    </button>
  </form>
</mat-card>
